#requests-overview {
    .container {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: 3.75rem;

        & > div {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;

            h2 {
                font-size: 48px;
                line-height: 48px;
            }

            h3 {
                font-family: $secondaryFont;
                font-size: 18px;
                line-height: 30px;
                font-weight: 700;
                margin-top: 1rem;
            }

            p {
                margin-top: 1.68rem;
                margin-bottom: 1rem;
                max-width: 450px;
                font-size: 18px;
                line-height: 30px;
                font-family: $secondaryFont;
            }
        }

        button {
            height: 40px;
            border: 1px solid black;
            border-radius: 8px;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

            &:first-of-type {
                margin-top: auto;
            }

            & + button {
                margin-top: 0.5rem;
            }
        }
    }
}
