#root {
    display: grid;
    grid-template-columns: max-content minmax(0, 1fr);
    grid-template-rows: max-content minmax(0, 1fr) max-content;
    background: url('../../assets/background/bg_main.png') no-repeat;
}

main {
    grid-column: 2/3;
}
