#browse-requests {
    margin-top: 5rem;

    .container {
        h2 {
            font-size: 48px;
            line-height: 48px;
        }

        & > p {
            font-size: 16px;
            line-height: 30px;
            margin-top: 1rem;
        }

        &.funding {
            .request-container {
                background-color: #e0dcc9;
            }

            .request-card .request-detail .min-trust-score::after {
                background-color: #e0dcc9;
            }
        }

        &.research {
            .request-container {
                background-color: #f9dc5a;
            }

            .request-card .request-detail .min-trust-score::after {
                background-color: #f9dc5a;
            }
        }

        &.ongoing {
            .request-container {
                background-color: #fd8f36;
            }

            .request-card .request-detail .min-trust-score::after {
                background-color: #fd8f36;
            }
        }

        .request-container {
            width: 95%;
            margin: 1.68rem auto 0 auto;
            padding: 1.68rem;
        }
    }
}
