.container {
    max-width: 1440px;
    width: 100%;
    padding: 0 5rem;

    @include breakpoint(phablet) {
        padding: 0 1.68rem;
    }
}

/* clears the ‘X’ from Chrome */
input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
    display: none;
}
