$primaryColor: #75fb4c;
$accentColor: #00303f;
$bgPrimary: #fff;
$bgSecondary: #152022;

$primaryFont: 'SpaceMono', sans-serif;
$secondaryFont: 'SpaceGrotesk', sans-serif;

$danger: #f15266;
$success: #23d5b0;

$buttonPrimary: red;
$buttonSecondary: blue;
$buttonPrimaryDisabled: green;
$buttonSecondaryDisabled: orange;
