$primaryColor: #23b3e5;
$accentColor: #ffffff;
$bgPrimary: #090c0f;
$bgSecondary: #29353f;

$primaryFont: 'Poppins', sans-serif;

$danger: #f15266;
$success: #23d5b0;

$buttonPrimary: red;
$buttonSecondary: blue;
$buttonPrimaryDisabled: green;
$buttonSecondaryDisabled: orange;
