body {
    font-family: $primaryFont;
}

input,
button,
a {
    font-family: $primaryFont;
}

h2 {
    font-size: 24px;
    font-weight: 200;
    color: $primaryColor;
    transition: color 1s ease;
    line-height: 38px;

    @include breakpoint(phablet) {
        font-size: 18px;
    }
}

h3 {
    font-size: 18px;
    font-weight: 400;
    color: $primaryColor;
    transition: color 1s ease;

    @include breakpoint(phablet) {
        font-size: 13px;
    }
}

h4,
h5 {
    transition: color 1s ease;
}

p {
    line-height: 28.8px;
    font-size: 16px;
    font-weight: 200;
    transition: color 1s ease;

    @include breakpoint(tablet) {
        font-size: 14px;
    }

    @include breakpoint(mobile) {
        font-size: 12px;
    }
}
