.accordion {
    & + .accordion {
        margin-top: 1rem;
    }

    .accordion-question {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;
        background: #a8c0c3;
        font-size: 30px;
        line-height: 30px;
        font-weight: 700;
    }

    .collapsible-area {
        .accordion-answer {
            border: 5px solid #a8c0c3;
            padding: 1.68rem 2.5rem;

            p {
                font-size: 18px;
                line-height: 30px;
                font-family: $secondaryFont;

                & + p {
                    margin-top: 1.68rem;
                }
            }
        }
    }
}
