button.custom,
a.custom {
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 250px;
    background: transparent;
    position: relative;
    padding: 0;

    span:not(.border) {
        text-align: center;
        transition: color 1s ease, background 1s ease, border-color 1s ease;
        font-size: 18px;
        line-height: 28px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 56px;
        clip-path: polygon(7% 0%, 100% 1%, 100% 75%, 93% 100%, 0 100%, 0 25%);
    }

    span.border {
        position: absolute;
        width: calc(100% + 2px);
        height: calc(100% + 2px);

        clip-path: polygon(7% 0%, 100% 1%, 100% 75%, 93% 100%, 0 100%, 0 25%);
    }

    &:disabled {
        cursor: not-allowed;
    }

    @include breakpoint(mobile) {
        font-size: 14px;
        line-height: 22.4px;
    }

    &.button-primary {
        span:not(.border) {
            background-color: white;
            color: $accentColor;
        }

        span.border {
            background-color: #051208;
        }
    }

    &.button-secondary {
        filter: drop-shadow(2px 2px 0px $bgSecondary)
            drop-shadow(3px 3px 0px $primaryColor);
        span:not(.border) {
            background-color: #f9dc5a;
            color: $bgSecondary;
        }

        span.border {
            display: none;
        }

        &:disabled {
            background-color: $buttonSecondaryDisabled;
        }
    }
}
