#proposal-outline {
    margin-top: 5rem;

    & > .container {
        h1 {
            font-size: 48px;
            line-height: 48px;
            font-weight: 400;
        }

        hr {
            background: #e0dcc9;
            height: 3px;
            box-shadow: 0px 0px 20px #75fb4c;
            border: none;
        }

        .details {
            display: grid;
            grid-template-columns: repeat(4, minmax(0, 1fr));
            background: linear-gradient(
                180deg,
                rgba(206, 253, 92, 0) 0%,
                rgba(117, 251, 76, 0.4) 0.005%,
                rgba(206, 253, 92, 0) 50%
            );
            padding: 1.68rem 0 1.68rem 1.68rem;

            .title {
                grid-column: 1/3;
                font-size: 30px;
                line-height: 30px;
                font-weight: 700;
                max-width: 530px;
            }

            .status {
                grid-column: 3/5;
                justify-self: end;
                padding-right: 5.43rem;
                position: relative;
                display: flex;
                align-items: center;
                font-size: 30px;
                line-height: 30px;
                font-weight: 700;

                &::before {
                    content: '';
                    position: absolute;
                    right: 1.68rem;
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    background-color: $accentColor;
                }

                &::after {
                    content: '';
                    position: absolute;
                    right: calc(1.68rem + 6px);
                    width: 28px;
                    height: 28px;
                    border-radius: 50%;
                    background-color: #fd8f36;
                }
            }

            .creator {
                grid-column: 1/3;
                font-size: 16px;
                line-height: 30px;
                font-style: italic;
                margin-top: 1rem;
            }

            .contributors {
                grid-column: 3/5;
                justify-self: end;
                font-size: 16px;
                line-height: 30px;
                font-style: italic;
                padding-right: 1.68rem;
            }

            .description {
                grid-column: 1/4;
                font-family: $secondaryFont;
                font-size: 18px;
                line-height: 30px;
                max-width: 750px;
                margin-top: 1.68rem;
            }

            .proposal-meta {
                grid-column: 1/4;
                display: flex;
                margin-top: 3.75rem;

                & > div {
                    display: flex;
                    align-items: center;

                    &:not(:first-child) {
                        margin: 0 1.68rem;
                    }

                    &:first-child {
                        margin-right: 1.68rem;
                    }

                    img {
                        margin-right: 1rem;
                        width: 51px;
                        height: auto;
                    }

                    span {
                        font-size: 18px;
                        line-height: 30px;
                        font-family: $secondaryFont;
                    }
                }
            }

            .user-offer {
                grid-column: 4/5;
                grid-row: 3/5;
                justify-self: end;
                background: linear-gradient(
                    180deg,
                    rgba(206, 253, 92, 0) 0%,
                    rgba(117, 251, 76, 0.4) 0.01%,
                    rgba(206, 253, 92, 0) 100%
                );
                padding: 1rem;

                & > span {
                    font-size: 16px;
                    line-height: 30px;
                    font-style: italic;
                }

                .offer-amount {
                    display: flex;
                    align-items: center;
                    margin-top: 1.68rem;

                    .asset {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-end;
                        margin-right: 1.68rem;

                        span {
                            &:not(.amount) {
                                font-style: italic;
                                font-size: 16px;
                                line-height: 30px;
                            }

                            &.amount {
                                font-size: 48px;
                                line-height: 48px;
                            }
                        }
                    }

                    svg {
                        width: 59px;
                        height: auto;
                    }
                }
            }

            .action-container {
                grid-column: 1/5;
                display: flex;
                justify-content: flex-end;
                margin-top: 2.5rem;

                button {
                    font-family: $secondaryFont;
                    font-weight: 700;
                    font-size: 18px;
                    line-height: 30px;
                }
            }
        }
    }

    .tab-header-row {
        background: linear-gradient(
            180deg,
            rgba(0, 48, 63, 0.076) 0%,
            rgba(168, 192, 195, 0.037) 100%
        );
        display: flex;
        justify-content: center;
        margin-top: 5rem;

        .tabs-header-container {
            width: max-content;
            display: flex;
            justify-content: center;
            background: linear-gradient(
                180deg,
                rgba(0, 48, 63, 0.076) 0%,
                rgba(168, 192, 195, 0.037) 100%
            );
            box-shadow: 0px 5px 0px #00303f36;

            .tab {
                width: 180px;

                &.active,
                &:hover {
                    background: linear-gradient(
                        180deg,
                        rgba(0, 48, 63, 0.38) 0%,
                        rgba(168, 192, 195, 0.185) 100%
                    );
                    transform: unset;
                    box-shadow: 0px 5px 0px #00303f75;
                }
                // filter: drop-shadow(0px 0px 8px rgba(117, 251, 76, 0.5));
            }
        }
    }

    .tab-body {
        .tab-content {
            margin-top: 3.75rem;

            &.proposal-gallery {
                display: grid;
                grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
                gap: 3.75rem;

                .img-container {
                    width: 100%;
                    aspect-ratio: 1;
                    height: auto;

                    background-color: rgba(0, 0, 0, 0.1);
                }
            }
        }
    }
}
