#ipnfts {
    margin-top: 5rem;

    .container {
        .hero {
            display: flex;
            justify-content: space-between;

            .inner__left {
                max-width: 780px;

                h1 {
                    font-size: 48px;
                    line-height: 48px;
                }

                p {
                    font-family: $secondaryFont;
                    font-size: 18px;
                    line-height: 30px;
                    margin-top: 1.68rem;
                }
            }
        }

        input[type='search'] {
            max-width: 720px;
            width: 100%;
            height: 40px;
            padding: 0.5rem;
            margin-top: 2rem;
        }

        .nft-container {
            margin-top: 1.68rem;
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
            row-gap: 1.68rem;
            column-gap: 3.75rem;

            .card {
                background: #fafdfd;
                box-shadow: 16px 16px 24px rgba(0, 48, 63, 0.08);
                padding: 2rem 1.68rem;
                display: flex;
                flex-direction: column;
                justify-content: center;
                position: relative;

                .title {
                    font-family: $secondaryFont;
                    font-size: 18px;
                    line-height: 30px;
                    font-weight: 700;
                }

                .creator {
                    font-style: italic;
                    font-size: 16px;
                    line-height: 30px;
                }

                .min-trust-score {
                    margin-top: 1.68rem;
                    position: relative;
                    display: flex;
                    align-items: center;
                    padding-left: 2.5rem;

                    &::before {
                        content: '';
                        position: absolute;
                        left: 0;
                        width: 28px;
                        height: 28px;
                        border-radius: 50%;
                        background-color: $accentColor;
                    }

                    &::after {
                        content: '';
                        position: absolute;
                        left: 4px;
                        width: 20px;
                        height: 20px;
                        border-radius: 50%;
                        background-color: $primaryColor;
                    }
                }

                .funding-amount {
                    position: absolute;
                    right: 1rem;
                    bottom: 1rem;
                    font-size: 30px;
                    line-height: 30px;
                    font-weight: 700;
                    display: flex;
                    align-items: center;
                }
            }
        }
    }
}
