#ongoing-project {
    margin-top: 5rem;

    .container {
        h1 {
            max-width: 530px;
            font-size: 30px;
            line-height: 30px;
            font-weight: 700;
        }

        h2 {
            margin-top: 3.75rem;
            font-size: 30px;
            line-height: 30px;
            font-weight: 700;
        }

        .submission-overview {
            display: flex;
            margin-top: 1.68rem;

            .inner__left {
                display: flex;
                flex-direction: column;
                font-size: 18px;
                line-height: 30px;
                font-family: $secondaryFont;
            }

            .inner__right {
                margin-left: 3.75rem;

                button {
                    text-decoration: underline;
                    text-decoration-color: #0068e2;
                    padding: 0;

                    span:not(.border) {
                        height: auto;
                        justify-content: flex-start;
                        color: #0068e2;
                    }
                }
            }
        }

        .submission-details {
            background-color: #efefef;
            margin-top: 1.68rem;

            .tabs-header-container {
                padding-left: 0.5rem;
                display: flex;
                background-color: #fd8f36;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;

                button {
                    margin-top: 0.5rem;
                    background-color: #efefef;
                    font-weight: 700;
                    font-family: $secondaryFont;
                    font-size: 18px;
                    line-height: 30px;

                    &.active {
                        color: #fd8f36;
                    }
                }
            }

            .tab-content {
                padding: 1rem;
            }
        }
    }
}
